@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

ol {
    list-style: auto;
    padding-left: 26px;
}

.menu-primario {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    z-index: 100;
    background: #fff;
}

.container {
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: #000000;
    text-align: left;
    display: inline-block;
    padding-top: 3px;
    margin: 0 0 0 2rem;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu-primario ul li {
    border-right: 1px solid #bbbbbb;
}

.section_aside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 63%;
    flex-wrap: wrap;
}

.page-header, .page-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 64%;
    font-size: 23px;
    font-weight: 700;
}

/* criar chamados */
.card {
    background: #FFF;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.form-group {
    margin-bottom: 1rem;
}

.subtitle {
    text-transform: uppercase;
    font-size: 90%;
    color: #313131;
    font-weight: bold;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.select2-container {
    width: 97%;
    padding: 7px 4px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    color: #444;
    font-size: 16px;
}

.optUser {
    color: #000000;
}

.digits {
    margin: 0 0rem 0 -12px;
    width: 98.5%;
}

.patrimonio {
    margin-left: -8px;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}

[class^='btn-outline-'].btn-sm, [class*='btn-outline-'].btn-sm {
    min-width: 32px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-sm, .btn-group-sm>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-outline-secondary {
    color: #868e96;
    background-color: transparent;
    background-image: none;
    border-color: #868e96;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.span_select {
    border: 2px solid #868e96;
    padding: 10px;
    border-radius: 50px;
}

.span_select:hover {
    background-color: #868e96;
    color: #444;
}

.text-center {
    text-align: center;
    font-size: 85%;
    font-weight: 400;
    line-height: 1;
    font-family: "Roboto Condensed", sans-serif;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 1rem auto
}

.alert h2 {
    font-weight: bold;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.mb-2 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.span_ol {
    font-weight: bold;
}

.description {
    resize: none;
    width: 99%;
    height: 12vh;
}

.btn_submit {
    display: flex;
    justify-content: center;
}

.btn_sub {
    background-color: #E6E6E6;
    border: 5px solid #034ea3;
    border-radius: 50px;
    padding: 1rem 28px;
    color: #034ea3;
    cursor: pointer;
    font-weight: 600;
}

.btn_sub:hover {
    background-color: #034ea3;
    color: #e9ecef;
}