@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

a {
    color: #257ed6;
    text-decoration: none;
}

body {
    position: relative;
    padding: 0;
    font-size: 15px;
    background: #E6E6E6;
    line-height: 1.3;
}

img {
    height: 40px;
    width: auto;
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.container_header {
    display: flex;
    background-color: #FFF;
    font-size: 13px;
    border-bottom: 3px solid #f7941d;
}

/* Estilo para o contêiner do grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 3fr; /* Define as colunas */
    gap: 10px; /* Espaçamento entre os itens */
    width: 100%;
    margin: 20px 0;
    background-color: #ffffffc7;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho do grid */
.grid-header {
    display: contents; /* Permite que os itens do cabeçalho sigam o layout do grid */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
}

/* Estilo para as linhas do grid */
.grid-row {
    display: contents; /* Permite que os itens sigam o layout do grid */
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}

/* Estilo para os itens do grid */
.grid-item {
    padding: 10px;
    font-size: 14px;
    color: #495057;
    display: flex;
    align-items: center;
}

/* Estilo para a lista de categorias/subcategorias */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li {
    margin-bottom: 5px; /* Espaçamento entre os itens */
    font-size: 14px;
    color: #333;
}

/* Estilo para o ícone de lupa */
.icon_magnifying-glass img {
    height: 20px;
    width: auto;
    border: 2px solid #1e65ab;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s, border-color 0.3s;
}

.icon_magnifying-glass img:hover {
    background-color: #1e65ab;
    border-color: #fff;
}

.column_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
}

.status_style {
    background-color: #F7941D;
    color: #fff;
    padding: 4px 10px;
    border-radius: 50px;
}

.navbar {
    padding: .5rem 1rem;
}

.ml-3, .mx-3 {
    margin-left: 1rem !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn_acessibilidades {
    display: flex;
    align-items: center;
}

.logo-senac img {
    margin-right: 44rem;
    height: 32px;
    width: auto;
}

.container_acessibidades {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_acessibidades img {
    height: 30px;
    width: auto;
    margin-right: 1rem;
}

.btn_acesso {
    background-color: #eee;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
    font-size: .9em;
    color: #1e65ab;
    text-decoration: none;
    padding: 10px 1rem;
} 

.conteiner_icons {
    align-items: center;
}

.user_camp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.helpdesk {
    font-size: 16px;
    text-decoration: none;
    color: #1e65ab;
    margin-right: 1rem;
}

.icons_header img {
    height: 25px;
    width: auto;
    padding: 5px;
}

.user_camp img {
    height: 22px;
    width: auto;
}

/* Fim navbar */

.page-content {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.word_painel{
    background-color: #FFF;
    padding: 1.2rem;
}

.word_painel h4 {
    font-size: 20px;
}

.section_aside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 75%;
    flex-wrap: wrap;
}

.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.breadcrumb li a {
    color: #1e65ab;
    text-decoration: none;
}

.breadcrumb li {
    text-decoration: none;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}

.meta_header {
    font-size: 14px;
    border-radius: 150px;
    background: #fff;
    padding: 8px 20px;
    margin: 10px 0;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-font {
    margin-left: 8px;
}

.btn-font a {
    color: #1e65ab;
    text-decoration: none;
    padding: 0 2px;
}

.page-header, .page-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 86%;
    font-size: 30px;
    font-weight: 500;
}

.nav-home {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #E6E6E6;
    padding: 10px 0;
}

.nav_send_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 10px;
    list-style: none;
}

.nav-item {
    padding: .75rem;
    font-weight: 500;
}

.desabled {
    color: #868e96;
}

.card {
    background-color: #ffffffc7;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    padding: 1rem 0.8rem 1rem;
}

.bg-white {
    background-color: #FFF;
}

.w-100 {
    width: 99%;
}

.border_header_card {
    border-bottom: 1px solid #ccc;
}

.card-header {
    padding: 1.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    width: 97%;
}

.icon_plus {
    margin-right: 5px;
    height: 15px;
    width: auto;
}

.card h4 {
    color: #257ed6;
    font-weight: bold;
    text-transform: uppercase;
}

.deteils_card_body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10px;
}

.margin-0 {
    margin: 0 auto;
    padding: 1rem .80rem;
}

.deteils_card_body h2 {
    font-size: 17px;
    font-weight: bold;
}

/* Estilo para a tabela */
.table {
    width: 96%;
    max-width: 100%;
    border-bottom: 2px solid #dee2e6;
    margin: auto;
    border-collapse: collapse;
}

.table thead th {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    text-align: left; /* Alinha o cabeçalho à esquerda */
    padding: 0.75rem;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left; /* Alinha o conteúdo das células à esquerda */
    border-top: 1px solid #dee2e6;
}

/* Estilo para a lista de categorias/subcategorias */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li {
    margin-bottom: 5px; /* Espaçamento entre os itens */
    font-size: 14px;
    color: #333;
}

.site_footer {
    border-top: 1px solid #ddd;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.container_footer {
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_footer_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.mr-p {
    margin: 8px;
}

.mr-2 {
    margin-right: .5rem;
    font-weight: 500;
}

.custom-control-inline {
    display: inline-flex;
    margin-right: 1rem;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type="checkbox"],input[type="radio"]{
    width: auto;
    height: 15px;
}

/* dropdown */

/* Estilo do cabeçalho */
.card-header {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ddd;
}

/* Estilo do ícone */
.icon_plus {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Animação para o ícone */
}

/* Estilo do título */
.card-header h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Estilo do conteúdo do dropdown */
.card-content {
    max-height: 0; /* Começa escondido */
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease, padding 0.3s ease; /* Animação suave */
    background-color: #fff;
}

/* Classe para quando o dropdown está aberto */
.card-content.open {
    max-height: 1665px;
    padding: 25px 0rem;
}

/* Rotação do ícone quando o dropdown está aberto (opcional) */
.card-header.active .icon_plus {
    transform: rotate(45deg); /* Rotaciona o ícone para parecer um "X" ou "minus" */
}

.user_options {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.btn_logout {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn_logout:hover {
    background-color: #d32f2f;
}

.icon_magnifying-glass img {
    height: 20px;
    width: auto;
    border: 2px solid #1e65ab;
    padding: 10px;
    border-radius: 50px;
}

.icon_magnifying-glass:hover img {
    background-color: #1e65ab;
    border: 2px solid #fff;
}

@media (max-width: 1440px) {
    .page-header, .page-header-title {
        margin-right: 77%;
    }
}

@media (max-width: 1024px) {
    .page-header, .page-header-title {
        margin-right: 70%;
    }
}

@media (max-width: 1580px) {
    .logo-senac img {
        margin-right: 5rem;
    }
}

@media (max-width: 768px) {
    .container_header {
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: center;
    }

    .menu-primario {
        width: 95%;
    }

    .word_painel {
        width: 93%;
    }

    .logo-senac img {
        margin-right: 15rem;
    }

    .section_aside {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .page-header, .page-header-title {
        margin-right: 0%;
    }

    .btn {
        font-size: 0.90rem;
    }

    .btn_sub {
        width: 55%;
    }

    .btn_add, .btn_remove {
        width: 100%;
    }

    .container_footer {
        width: 72%;
    } 

    .mr-p {
        font-size: 13px;
        text-align: center;
    }
}