@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

.page-header, .page-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60%;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.seg_tramitacao {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.link_seg img {
    width: 22px;
    height: auto;
}

.link_seg {
    display: flex;
    align-items: center;
    border: 3px solid #949494;
    gap: 5px;
    padding: 3px 8px;
    border-radius: 50px;
    color: #949494;
}

.container_inf {
    display: flex;
    margin: 1rem 5rem;
    gap: 1%;
}

.container_about_chamado {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 4%;
}

.container_inf_chamado {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.whapper_color_inf {
    background-color: #FFF;
    max-width: 378px;
    max-height: 270px;
    padding: 4% 4% 1%;
    border: 1px solid #1e65ab;
    border-radius: 5px;
}

.inf_left {
    display: flex;
    flex-direction: column;
}

.inf_right {
    display: flex;
    flex-direction: column;
}

.title_inf {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inf_chamado {
    font-size: 14px;
    margin-bottom: 10px;
}

.inf {
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.status {
    color: #000;
    font-weight: 500;
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Garante a quebra de palavras */
    white-space: normal; /* Permite que o texto ocupe várias linhas */
}

.title_interacao {
    background-color: #FFF;
    font-size: 30px;
    padding: 1rem 37rem;
    border-radius: 5px;
    font-weight: 600;
}

.camp_descricao {
    background-color: #FFF;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    max-width: 1348px; /* Limite máximo de largura */
    width: 100%; /* Ocupa 100% do espaço disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    overflow: hidden; /* Impede que os filhos ultrapassem os limites */
}

.message {
    display: flex;
    gap: 1%;
    max-width: 100%; /* Respeita o limite do elemento pai */
    width: 100%;
}

.inf_persona {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.data_envio {
    font-size: 13px;
    color: #666;
    font-weight: 500;
    margin: 5px 0;
}

.descrip_form {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #414141;
}

.margin_botton {
    margin-bottom: 1rem;
}

.form-mensagem {
    resize: none;
    width: 97%;
    height: 57px;
    padding: 10px 1rem;
    margin: 10px 0;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    border-radius: 5px;
    border-color: #c2c2c2;
}

.check_org {
    display: flex;
    align-items: center;
}

.check_org input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #666;
    cursor: pointer;
}

.check_org input[type="checkbox"]:checked {
    background-color: #FFF;
    border: 5px solid #1e65ab;
}

.magin_top {
    margin-top: 1rem;
}

.btn_submist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.btn_enviar {
    padding: 11px 2rem;
    background-color: #FFF;
    border: 5px solid #1e65ab;
    border-radius: 50px;
    color: #1e65ab;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn_enviar:hover {
    background-color: #1e65ab;
    color: #FFF;
    transition: 0.3s;
}

/* Estilização tela suport_chamado */
.form_atualizar_catg {
    display: flex;
    flex-direction: column;
}

.container_opcao_catg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.org_camps {
    display: flex;
    flex-direction: column;
}

.notificacao_env {
    color: #949494;
    font-size: 13px;
    border: 3px solid #949494;
    padding: 4px 10px;
    border-radius: 50px;
}

.notificacao_env:hover {
    background-color: #1e65ab;
    color: #FFF;
    border: 3px solid #1e65ab;
    transition: 0.3s;
}

.select_category {
    width: 97%;
    height: 35px;
    font-size: 11px;
    margin-top: 2px;
    border: 2px solid #dfdfdf;
    border-radius: 7px;
    text-align: center;
}

.select_category:focus {
    outline: none;
    border: 2px solid #b1b1b1;
}

.title_op {
    font-size: 12px;
    font-weight: bold;
}

.line_details {
    border: 1px solid #f3f3f3;
    margin: 20px 0;
}

.btn_op {
    width: 35%;
    margin: 0.9rem 0;
    padding: 5px 7px;
    font-size: 12px;
    background-color: #fff;
    border: 3px solid #949494;
    border-radius: 11px;
    color: #949494;
}

.btn_op:hover {
    background-color: #1e65ab;
    color: #FFF;
    border: 3px solid #1e65ab;
    transition: 0.3s;
}